<md-dialog class="sae-annoton-errors-dialog" aria-label="Annoton Errors Dialog" ng-cloak>
    <md-toolbar class="gb-heading" layout="column" layout-align="start center" flex>
        <div class="md-toolbar-tools sae-container">
            <div class="sae-heading-title">
                <span class="ellipsis">
                    Before You Save
                </span>
            </div>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="annotonCtrl.closeDialog()" aria-label="Close Dialog" translate translate-attr-aria-label="SB.CLOSE_DIALOG">
                <md-icon md-font-icon="icon-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="" layout="column" layout-align="start stretch">
            <div ng-repeat="info in annotonCtrl.data.infos" class="sae-error-row" layout="row">
                <div class="sae-number">
                    {{$index+1}}
                </div>
                <div flex class="sae-error-row-body">
                    <div class="sae-heading">
                        <strong>{{info.meta.aspect}}</strong>: {{info.message}}
                    </div>
                    <div ng-if="info.type===2 || info.type===3" class="pb-10" layout="row">
                        <div class="sae-node-card" layout="column" layout-align="center center">
                            <div> {{info.meta.subjectNode.label}}</div>
                        </div>
                        <div class="sae-edge-card" flex>
                            <div class="sae-line">
                                {{info.meta.edge.label}}
                            </div>
                        </div>
                        <div class="sae-node-card" layout="column" layout-align="center center">
                            <div>{{info.meta.objectNode.label}}</div>
                        </div>
                    </div>
                    <div ng-if="info.type===4" class="pb-10" layout="row" layout-align="center center">
                        <div class="sae-node-card sae-lg" layout="column" layout-align="center center">
                            {{info.meta.subjectNode.label}}
                        </div>
                    </div>
                    <div ng-if="info.type===5" class="pb-10" layout="column" layout-align="start start">
                        Select Instance to Link
                        <div class="sae-populate-group" layout="column" layout-align="start stretch">
                            <div class="sae-populate-group-body" layout="column" flex>
                                <div ng-repeat="node in info.meta.linkedNodes" class="sae-populate-row" layout="row" layout-align="start center">
                                    <div class="sae-checkbox-container">
                                        <md-checkbox class="sae-primary m-0" ng-checked="annotonCtrl.isNodeChecked(info.meta.subjectNode.node, node)" ng-click="annotonCtrl.toggleNode(info.meta.subjectNode.node, node)"
                                            aria-label="Term Label">
                                        </md-checkbox>
                                    </div>
                                    <div class="sae-node-card sae-long" layout="column" layout-align="center center">
                                        {{node.term.control.value.label}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="annotonCtrl.closeDialog()" aria-label="Cancel">
            Cancel
        </md-button>
        <md-button class="md-primary md-raised" ng-click="annotonCtrl.save()" aria-label="Save">
            Save
        </md-button>
    </md-dialog-actions>
</md-dialog>