<md-dialog class="sae-companion-dialog" aria-label="Companion Dialog" ng-cloak>
    <md-toolbar class="gb-heading" layout="column" layout-align="start center" flex>
        <div class="md-toolbar-tools sae-container">
            <div class="sae-heading-title">
                <span class="ellipsis">
                    Create From an Existing Activity
                </span>
            </div>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="annotonCtrl.closeDialog()" aria-label="Close Dialog" translate translate-attr-aria-label="SB.CLOSE_DIALOG">
                <md-icon md-font-icon="icon-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="" layout="column" layout-align="start stretch">
            <div ng-repeat="annotonData in annotonCtrl.data.annotonData" class="sae-populate-group md-whiteframe-1dp" layout="column">
                <div annotonCtrl.enableToggle(node) class="sae-ellipsis sae-populate-group-header" layout="column" flex>
                    <md-checkbox ng-if="!annotonCtrl.data.entityFilter" class="sae-primary m-0" ng-checked="annotonCtrl.isAnnotonChecked(annotonData.annoton)"
                        md-indeterminate="annotonCtrl.isAnnotonIndeterminate(annotonData.annoton)" ng-click="annotonCtrl.toggleAnnoton(annotonData.annoton)"
                        aria-label="Term Checkbox">
                    </md-checkbox>
                    <strong>{{annotonData.gp}}</strong> - {{annotonData.mf}}
                </div>
                <div class="sae-populate-group-body" layout="column" flex>
                    <div class="sae-populate-row-header" layout="row">
                        <div class="sae-checkbox-container">
                        </div>
                        <div flex="30">
                            Aspect
                        </div>
                        <div flex="40">
                            Term
                        </div>
                        <div flex="20">
                            Evidence
                        </div>
                    </div>
                    <div ng-repeat="node in annotonData.annoton.nodes" ng-if="node.term.control.value.id" class="sae-populate-row" ng-class="{'sae-disabled': annotonCtrl.enableToggle(node) }"
                        layout="row">
                        <div class="sae-checkbox-container">
                            <md-checkbox class="sae-primary m-0" ng-checked="annotonCtrl.exists(node)" ng-click="annotonCtrl.toggleNode(annotonData.annoton, node)"
                                aria-label="Term Label">
                            </md-checkbox>
                        </div>
                        <div flex="30">
                            <div class="sae-ellipsis">
                                {{node.label}}
                            </div>
                        </div>
                        <div flex="40">
                            <div class="sae-ellipsis">
                                {{node.term.control.value.label}}
                            </div>
                        </div>
                        <div flex="20">
                            <div class="sae-ellipsis">
                                <a ng-click="annotonCtrl.openSelectEvidenceDialog($evemt, node)">
                                    {{node.evidence[0].reference.control.value.label}}: {{node.evidence[0].evidence.control.value.label}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="annotonCtrl.closeDialog()" aria-label="Cancel">
            Cancel
        </md-button>
        <md-button class="md-primary md-raised" ng-click="annotonCtrl.save()" aria-label="Save">
            Save
        </md-button>
    </md-dialog-actions>
</md-dialog>