<!-- {{=<% %>=}} -->

<!-- Main "app". -->
<div ng-strict-di ng-app="TVApp" class="sae-app" ng-cloak>
  <div ng-controller="AppController as appCtrl" ng-form="patternForm">
    <md-toolbar class="sae-navbar md-menu-toolbar md-whiteframe-2dp">
      <div layout="row" flex>
        <md-toolbar-filler layout layout-align="center center">
          <a ng-href="{{appCtrl.graph.modelInfo.goUrl}}" target="_blank">
            <img ng-src="assets/images/go-logo.png">
          </a>
        </md-toolbar-filler>
        <div flex="100">
          <div class="sae-breadcrumbs md-toolbar-tools" layout="row" layout-align="start center">
            <div class="sae-breadcrumb">
              <a ng-href="{{appCtrl.graph.modelInfo.noctuaUrl}}" target="_blank">
                Noctua
              </a>
            </div>
            <md-icon md-font-icon="icon-chevron-right"></md-icon>
            <h2 class="sae-breadcrumb">
              <a ng-href="{{appCtrl.graph.modelInfo.saeUrl}}">
                Noctua Form
              </a>
            </h2>
            <md-icon md-font-icon="icon-chevron-right"></md-icon>
            <h2 ng-if="appCtrl.graph.modelTitle" class="sae-breadcrumb sae-active md-truncate">
              {{appCtrl.graph.modelTitle}}
            </h2>
            <h2 ng-if="!appCtrl.graph.modelTitle" class="sae-breadcrumb sae-active md-truncate">
              Untitled Model
            </h2>
          </div>
          <md-menu-bar>
            <md-menu>
              <md-button aria-label="Open" ng-click="$mdMenu.open($event)">
                View
                <b class="caret"></b>
              </md-button>
              <md-menu-content width="3">
                <md-menu-item>
                  <md-button ng-href="{{appCtrl.graph.modelInfo.graphEditorUrl}}" target="_blank" class="">
                    Graph Editor
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-href="{{appCtrl.graph.modelInfo.owlUrl}}" target="_blank" class="">
                    OWL
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-href="{{appCtrl.graph.modelInfo.gpadUrl}}" target="_blank" class="">
                    GPAD
                  </md-button>
                </md-menu-item>
                <h6 class="sae-menu-heading">
                  Workbenches</h6>
                <md-menu-item ng-repeat="workbench in appCtrl.graph.modelInfo.workbenches">
                  <md-button ng-href="{{workbench.url}}" target="_blank" class="">
                    {{workbench.label}}
                  </md-button>
                </md-menu-item>
              </md-menu-content>
              </md-menu-content>
            </md-menu>
            <md-menu>
              <md-button aria-label="Open" ng-click="$mdMenu.open($event)">
                Details
                <b class="caret"></b>
              </md-button>
              <md-menu-content ng-click="$event.stopPropagation()" width="4">
                <strong>Model ID:</strong> {{appCtrl.graph.model_id}}
                <br>
                <strong>State:</strong> {{appCtrl.graph.modelState}}
                <br>
                <strong>Group:</strong> {{appCtrl.graph.userInfo.selectedGroup.label}}
              </md-menu-content>
            </md-menu>
            <md-button class="sae-success" ng-click="appCtrl.startGuide()">
              Take a Tour
            </md-button>
            <md-button ng-if="false" class="" ng-click="appCtrl.openGuideMeDialog($event)">
              .
            </md-button>
            <md-button ng-if="false" ng-click="appCtrl.graph.saveGP()">
              .
            </md-button>
            <md-button ng-click="appCtrl.formGrid.initalizeFormData()">
              .
            </md-button>
          </md-menu-bar>
        </div>
        <div flex></div>
        <div layout layout-align="center center">
          <md-menu>
            <md-button class="sae-name-button" aria-label="Open" ng-click="$mdMenu.open($event)">
              <div layout="row" layout-align="start center">
                <div class="sae-info" layout="column" layout-align="start start">
                  <div class="sae-name sae-ellipsis">
                    {{appCtrl.graph.userInfo.name}}
                  </div>
                  <div class="sae-group-name sae-ellipsis">
                    {{appCtrl.graph.userInfo.selectedGroup.label}}
                  </div>
                </div>
                <b class="caret"></b>
              </div>
            </md-button>
            <md-menu-content ng-click="$event.stopPropagation()" width="4">
              <strong>Group:</strong> {{appCtrl.graph.userInfo.selectedGroup.label}}
            </md-menu-content>
          </md-menu>
          <md-button ng-if="false" ng-href="{{appCtrl.graph.modelInfo.logoutUrl}}" class="sae-logout" aria-label="Favorite">
            Log Out
          </md-button>
          <md-button ng-if="false" ng-href="{{appCtrl.graph.modelInfo.loginUrl}}" class="sae-login" aria-label="Favorite">
            Log In
          </md-button>
        </div>
      </div>
    </md-toolbar>
    <div ng-if="appCtrl.graph.loggedIn" class="sae-body" layout="column" layout-align="start center">
      <div class="sae-annoton-form sae-container" layout="column" layout-align="start stretch">
        <div id="sae-model-section" class="sae-gp sae-form-section md-whiteframe-2dp" layout="column" layout-align="start stretch"
          flex>
          <div class="sae-section-header" layout="row" layout-align="start start" flex>
            <div class="sae-section-heading">
              Model
            </div>
            <span flex></span>
            <div id="sae-start-model-button">
              <md-menu md-position-mode="target-right target">
                <md-button aria-label="Open Annoton Model Type" class="sae-action-button md-primary" ng-click="$mdMenu.open($event)">
                  Model Options
                  <b class="caret"></b>
                </md-button>
                <md-menu-content width="3">
                  <md-menu-item>
                    <md-button class="md-primary" ng-click="appCtrl.graph.addModel()">
                      Start New Model
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button class="" ng-click="appCtrl.openCreateFromExistingDialog($event)">
                      Create From an Existing Activity
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </div>
          </div>
          <div class="sae-section-body pt-15 ph-15" layout="column" layout-align="start stretch">
            <div layout="row">
              <div flex="50">
                <md-input-container class="md-block" flex>
                  <input aria-describedby="Model Title" type="text" ng-model="appCtrl.graph.modelTitle" ng-blur="appCtrl.graph.saveModelAnnotation('title', appCtrl.graph.modelTitle)"
                    placeholder="Title" ng-minlength='1'>
                </md-input-container>
              </div>
              <div flex="20">
                <md-input-container class="md-block" flex>
                  <label>State</label>
                  <md-select ng-model="appCtrl.graph.modelState" ng-change="appCtrl.graph.saveModelAnnotation('state', appCtrl.graph.modelState)">
                    <md-option ng-value="modelState.name" ng-repeat="modelState in appCtrl.saeConstants.modelState.options">
                      {{modelState.label}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div flex="30">
                <md-input-container class="md-block" flex>
                  <label>Group</label>
                  <md-select ng-model="appCtrl.graph.userInfo.selectedGroup" ng-change="appCtrl.graph.saveModelGroup()">
                    <md-option ng-value="modelGroup" ng-repeat="modelGroup in appCtrl.graph.userInfo.groups">
                      {{modelGroup.label}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>
            </div>
          </div>
        </div>
        <div id="sae-gp-section" class="sae-table-form pb-15 sae-form-section md-whiteframe-2dp" layout="column" layout-align="start stretch"
          flex>
          <div class="sae-section-header" layout="row" layout-align="start start" flex>
            <div class="sae-section-heading">
              Gene Product
            </div>
            <span flex></span>
            <md-menu id="sae-gp-toggle-button" md-position-mode="target-right target">
              <md-button aria-label="Open Annoton Type" class="sae-action-button md-primary" ng-click="$mdMenu.open($event)">
                {{appCtrl.saeConstants.annotonType.options[appCtrl.formGrid.annoton.annotonType].label}}
                <b class="caret"></b>
              </md-button>
              <md-menu-content width="3">
                <md-menu-item ng-repeat="annotonType in appCtrl.saeConstants.annotonType.options">
                  <md-button ng-click="appCtrl.formGrid.setAnnotonType(appCtrl.formGrid.annoton, annotonType.name)">
                    {{annotonType.label}}
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
          <div ng-if="appCtrl.formGrid.annoton.annotonType === appCtrl.saeConstants.annotonType.options.simple.name" class="sae-section-body pt-15 ph-15"
            layout="column" layout-align="start stretch">
            <div class="typeaheadcontainer" layout="row">
              <div style="position:absolute;z-index:100;margin-left:4px;" ng-show="loadingItemsGP">
                <i class="fa fa-spinner fa-spin fa-fw"></i>
              </div>
              <md-input-container class="md-block" flex>
                <input aria-describedby="igGP" type="text" ng-model="appCtrl.formGrid.annotonPresentation.geneProduct.term.control.value"
                  ng-model-options="{allowInvalid: true}" ng-trim="false" placeholder="Gene Product" ng-blur="noResultsGP = false"
                  uib-typeahead="term as term.label + ' (' +term.id + ') ' for term in appCtrl.lookup.golrLookup($viewValue, appCtrl.formGrid.annotonPresentation.geneProduct.term.lookup.requestParams)"
                  ng-required="appCtrl.formGrid.annotonPresentation.geneProduct.term.control.required" typeahead-append-to-body="true"
                  xtypeahead-focus-on-select="true" xtypeahead-select-on-blur="false" typeahead-loading="loadingItemsGP" typeahead-no-results="noResultsGP"
                  typeahead-template-url="customTemplate.html" typeahead-editable="true" typeahead-min-length="1" xtypeahead-is-open="isOpen"
                  typeahead-is-open="'true'" typeahead-on-select="appCtrl.onSelected(appCtrl.formGrid.annotonPresentation.geneProduct.term.control.value, $item, $model, $label, $event)"
                  class="typeaheadcontrol" ng-class="isOpen ? 'typeahead-is-open' : 'typeahead-is-closed'">
              </md-input-container>
              <div class="no-results" ng-show="appCtrl.editingModel.GP.length > 2 && noResultsGP">
                No Results Found
              </div>
            </div>
          </div>
          <div ng-if="appCtrl.formGrid.annoton.annotonType === appCtrl.saeConstants.annotonType.options.complex.name" class="sae-section-body sae-term-group  pt-15 ph-15 pb-25"
            layout="column" layout-align="start stretch">
            <div class="typeaheadcontainer">
              <div style="position:absolute;z-index:100;margin-left:4px;" ng-show="loadingItemsGP">
                <i class="fa fa-spinner fa-spin fa-fw"></i>
              </div>
              <md-input-container class="md-block">
                <input aria-describedby="igGP" type="text" ng-model="appCtrl.formGrid.annotonPresentation.mcNode.term.control.value" ng-trim="false"
                  placeholder="Macromolecular Complex GO Term" ng-blur="noResultsGP = false" uib-typeahead="term as term.label + ' (' +term.id + ') ' for term in appCtrl.lookup.golrLookup($viewValue, appCtrl.formGrid.annotonPresentation.mcNode.term.lookup.requestParams)"
                  typeahead-append-to-body="true" xtypeahead-focus-on-select="true" xtypeahead-select-on-blur="false" typeahead-loading="loadingItemsGP"
                  typeahead-no-results="noResultsGP" typeahead-template-url="customTemplate.html" typeahead-editable="true"
                  typeahead-min-length="1" xtypeahead-is-open="isOpen" typeahead-is-open="'true'" typeahead-on-select="appCtrl.termSelected('GP', $item, $model, $label, $event)"
                  class="typeaheadcontrol" ng-class="isOpen ? 'typeahead-is-open' : 'typeahead-is-closed'">
              </md-input-container>
              <div class="no-results" ng-show="appCtrl.editingModel.GP.length > 2 && noResultsGP">
                No Results Found
              </div>
            </div>
            <div ng-repeat="entity in appCtrl.formGrid.annotonPresentation.gp.mc.nodes" class="sae-annoton-group-row" layout="column"
              ng-class="{'sae-input-heading' : entity.treeLevel===0,
                   'sae-row-disabled': !entity.enableRow()}">
              <div class="" layout="column" layout-align="start stretch">

                <div class="" layout="row">
                  <div ng-if="entity.treeLevel>0" class="sae-tree-input sae-level-1">
                  </div>
                  <div ng-if="entity.treeLevel>1" class="sae-tree-input sae-level-2">
                  </div>
                  <div ng-if="entity.treeLevel>2" class="sae-tree-input sae-level-3">
                  </div>
                  <div class="typeaheadcontainer" flex="40">
                    <div style="position:absolute;z-index:100;margin-left:4px;" ng-show="loadingItems[entity.term]">
                      <i class="fa fa-spinner fa-spin fa-fw"></i>
                    </div>
                    <md-input-container class="md-block">
                      <input aria-label="term" type="text" ng-model="entity.term.control.value" ng-model-options="{allowInvalid: true}" tabindex="0"
                        ng-trim="false" ng-required="entity.term.control.required" uib-typeahead="term as term.label for term in appCtrl.lookup.golrLookup($viewValue, entity.term.lookup.requestParams)"
                        typeahead-append-to-body="true" xtypeahead-focus-on-select="true" xtypeahead-select-on-blur="false"
                        typeahead-loading="loadingItems[term]" typeahead-no-results="noResults[term]" typeahead-template-url="customTemplate.html"
                        typeahead-editable="true" typeahead-min-length="1" xtypeahead-is-open="isOpen" typeahead-is-open="'true'"
                        typeahead-on-select="appCtrl.termSelected(term, $item, $model, $label, $event)" class="typeaheadcontrol"
                        placeholder="{{entity.label}}" ng-class="isOpen ? 'typeahead-is-open' : 'typeahead-is-closed'">
                    </md-input-container>
                    <div class="no-results" ng-show="appCtrl.editingModel[term].length > 2 && noResults[term]">
                      No Results Foundd
                    </div>
                  </div>
                  <div class="typeaheadcontainer" flex="30">
                    <div style="position:absolute;z-index:100;margin-left:4px;" ng-show="loadingItems[entity.term + 'e']">
                      <i class="fa fa-spinner fa-spin fa-fw"></i>
                    </div>
                    <md-input-container class="md-block">
                      <div ng-if="entity.evidence.length>1" class="sae-more-evidence-link">
                        <a ng-click="appCtrl.openAddEvidenceDialog($event, entity)">
                          + {{entity.evidence.length-1}} evidence(s)
                        </a>
                      </div>
                      <input aria-label="evidence" type="text" ng-model="entity.evidence[0].evidence.control.value" ng-trim="false" tabindex="0"
                        ng-model-options="{allowInvalid: true}" ng-required="entity.evidence[0].evidence.control.required"
                        uib-typeahead="term as term.label for term in appCtrl.lookup.golrLookup($viewValue, entity.evidence[0].evidence.lookup.requestParams)"
                        typeahead-append-to-body="true" xtypeahead-focus-on-select="true" xtypeahead-select-on-blur="false"
                        typeahead-loading="loadingItems[term + 'e']" typeahead-no-results="noResults[term + 'e']" typeahead-template-url="customTemplate.html"
                        typeahead-editable="true" typeahead-min-length="1" xtypeahead-is-open="isOpen" typeahead-is-open="'true'"
                        typeahead-on-select="appCtrl.termSelected(term + 'e', $item, $model, $label, $event)" class="typeaheadcontrol"
                        placeholder="Evidence" ng-class="isOpen ? 'typeahead-is-open' : 'typeahead-is-closed'">
                    </md-input-container>
                    <div class="no-results" ng-show="appCtrl.editingModel[term + 'e'].length > 2 && noResults[term + 'e']">
                      No Results Found
                    </div>
                  </div>
                  <div class="" flex="15">
                    <md-input-container class="md-block">
                      <input tabindex="0" ng-trim="true" ng-model-options="{allowInvalid: true}" ng-model="entity.evidence[0].reference.control.value"
                        type="text" ng-required="entity.evidence[0].reference.control.required" class="" placeholder="Reference"
                        aria-label="reference">
                    </md-input-container>
                  </div>
                  <div class="" flex="15">
                    <md-input-container class="md-block">
                      <input tabindex="0" ng-trim="true" ng-model="entity.evidence[0].with.control.value" type="text" class="" placeholder="With"
                        aria-label="With"> </md-input-container>
                  </div>
                  <span flex></span>
                  <md-menu md-position-mode="target-right target">
                    <md-button aria-label="Open Annoton Model Type" class="md-icon-button sae-action-button md-raised" ng-click="$mdMenu.open($event)">
                      <md-icon md-font-icon="fa fa-ellipsis-v"></md-icon>
                    </md-button>
                    <md-menu-content width="3">
                      <md-menu-item ng-if="false">
                        <md-button class="" ng-click="appCtrl.removeHasPartGP(appCtrl.formGrid.annoton, entity)">
                          Remove GP
                        </md-button>
                      </md-menu-item>
                      <h6 class="sae-menu-heading">
                        Evidence</h6>
                      <md-menu-item>
                        <md-button class="" ng-click="appCtrl.openSelectEvidenceDialog($event, entity)">
                          Clone Evidence
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button class="" ng-click="appCtrl.openAddEvidenceDialog($event, entity)">
                          More Evidence
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button class="" ng-click="appCtrl.addNDEvidence(entity.evidence[0])">
                          Add ND Reference
                        </md-button>
                      </md-menu-item>
                      <h6 class="sae-menu-heading">
                        Term
                      </h6>
                      <md-menu-item ng-if="entity.treeLevel===0">
                        <md-button class="" ng-click="appCtrl.toggleIsComplement(entity)">
                          NOT Qualifier
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button class="" ng-click="entity.clearValues()">
                          Clear
                        </md-button>
                      </md-menu-item>
                      <h6 class="sae-menu-heading">
                        Search
                      </h6>
                      <md-menu-item ng-if="entity.aspect">
                        <md-button class="" ng-click="appCtrl.openPopulateDialog($event, entity)">
                          Search Database
                        </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                </div>
              </div>
            </div>
            <div>
              <md-button ng-click="appCtrl.addHasPartGP(appCtrl.formGrid.annoton)" class="md-primary">
                Add Gene
              </md-button>
            </div>
          </div>
        </div>
        <div id="sae-fd-section" class="sae-table-form sae-form-section" layout="column" layout-align="start stretch">
          <div class="sae-section-header" layout="row" layout-align="start start" flex>
            <div class="sae-section-heading">
              Function Description
            </div>
            <span flex></span>
            <md-menu md-position-mode="target-right target">
              <md-button aria-label="Open Annoton Model Type" class="sae-action-button md-primary" ng-click="$mdMenu.open($event)">
                {{appCtrl.saeConstants.annotonModelType.options[appCtrl.formGrid.annoton.annotonModelType].label}}
                <b class="caret"></b>
              </md-button>
              <md-menu-content width="3">
                <md-menu-item ng-repeat="annotonModelType in appCtrl.saeConstants.annotonModelType.options">
                  <md-button ng-click="appCtrl.formGrid.setAnnotonModelType(appCtrl.formGrid.annoton, annotonModelType.name)">
                    {{annotonModelType.label}}
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
          <div class="sae-section-body" layout="column" layout-align="start stretch">
            <div ng-repeat="nodeGroup in appCtrl.formGrid.annotonPresentation.fd" class="sae-term-group md-whiteframe-1dp" layout="row">
              <div ng-if="nodeGroup.isComplement" class="sae-group-side-heading" layout="column" layout-align="center center" flex>
                <div>IS NOT</div>
              </div>
              <div class="pb-20" layout="column" flex>
                <div ng-repeat="entity in nodeGroup.nodes" class="ph-15 sae-annoton-group-row" layout="column" ng-class="{'sae-input-heading' : entity.treeLevel===0,
                 'sae-row-disabled': !entity.enableRow()}">
                  <div class="" layout="column" layout-align="start stretch">
                    <div ng-if="entity.edgeOption" class="" flex="100">
                      <md-input-container class="md-block">
                        <md-select ng-model="entity.edgeOption.selected" ng-change="entity.selectEdge(appCtrl.formGrid.annoton, entity.edgeOption.selected)">
                          <md-option ng-value="edgeOption" ng-repeat="edgeOption in entity.edgeOption.options">
                            {{edgeOption.label}}
                          </md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                    <div class="" layout="row">
                      <div ng-if="entity.treeLevel>0" class="sae-tree-input sae-level-1">
                      </div>
                      <div ng-if="entity.treeLevel>1" class="sae-tree-input sae-level-2">
                      </div>
                      <div ng-if="entity.treeLevel>2" class="sae-tree-input sae-level-3">
                      </div>
                      <div class="typeaheadcontainer" flex="40">
                        <div style="position:absolute;z-index:100;margin-left:4px;" ng-show="loadingItems[entity.term]">
                          <i class="fa fa-spinner fa-spin fa-fw"></i>
                        </div>
                        <md-input-container class="md-block">
                          <div ng-if="entity.modelId" class="sae-node-link">
                            <a class="sae-ellipsis" ng-click="appCtrl.openLinkToExistingDialog($event, entity)">
                              Linked To Existing
                            </a>
                          </div>
                          <input aria-label="term" type="text" ng-model="entity.term.control.value" ng-model-options="{allowInvalid: true}" tabindex="0"
                            ng-trim="false" ng-required="entity.term.control.required" uib-typeahead="term as term.label for term in appCtrl.lookup.golrLookup($viewValue, entity.term.lookup.requestParams)"
                            typeahead-append-to-body="true" xtypeahead-focus-on-select="true" xtypeahead-select-on-blur="false"
                            typeahead-loading="loadingItems[term]" typeahead-no-results="noResults[term]" typeahead-template-url="customTemplate.html"
                            typeahead-editable="true" typeahead-min-length="1" xtypeahead-is-open="isOpen" typeahead-is-open="'true'"
                            typeahead-on-select="appCtrl.termSelected(term, $item, $model, $label, $event)" class="typeaheadcontrol"
                            placeholder="{{entity.label}}" ng-class="isOpen ? 'typeahead-is-open' : 'typeahead-is-closed'">
                        </md-input-container>
                        <div class="no-results" ng-show="appCtrl.editingModel[term].length > 2 && noResults[term]">
                          No Results Foundd
                        </div>
                      </div>
                      <div class="typeaheadcontainer" flex="30">
                        <div style="position:absolute;z-index:100;margin-left:4px;" ng-show="loadingItems[entity.term + 'e']">
                          <i class="fa fa-spinner fa-spin fa-fw"></i>
                        </div>
                        <md-input-container class="md-block">
                          <div ng-if="entity.evidence.length>1" class="sae-more-evidence-link">
                            <a ng-click="appCtrl.openAddEvidenceDialog($event, entity)">
                              + {{entity.evidence.length-1}} evidence(s)
                            </a>
                          </div>
                          <input aria-label="evidence" type="text" ng-model="entity.evidence[0].evidence.control.value" ng-trim="false" tabindex="0"
                            ng-model-options="{allowInvalid: true}" ng-required="entity.evidence[0].evidence.control.required"
                            uib-typeahead="term as term.label for term in appCtrl.lookup.golrLookup($viewValue, entity.evidence[0].evidence.lookup.requestParams)"
                            typeahead-append-to-body="true" xtypeahead-focus-on-select="true" xtypeahead-select-on-blur="false"
                            typeahead-loading="loadingItems[term + 'e']" typeahead-no-results="noResults[term + 'e']" typeahead-template-url="customTemplate.html"
                            typeahead-editable="true" typeahead-min-length="1" xtypeahead-is-open="isOpen" typeahead-is-open="'true'"
                            typeahead-on-select="appCtrl.termSelected(term + 'e', $item, $model, $label, $event)" class="typeaheadcontrol"
                            placeholder="Evidence" ng-class="isOpen ? 'typeahead-is-open' : 'typeahead-is-closed'">
                        </md-input-container>
                        <div class="no-results" ng-show="appCtrl.editingModel[term + 'e'].length > 2 && noResults[term + 'e']">
                          No Results Found
                        </div>
                      </div>
                      <div class="" flex="15">
                        <md-input-container class="md-block">
                          <input tabindex="0" ng-trim="true" ng-model-options="{allowInvalid: true}" ng-model="entity.evidence[0].reference.control.value"
                            type="text" ng-required="entity.evidence[0].reference.control.required" class="" placeholder="Reference"
                            aria-label="reference">
                        </md-input-container>
                      </div>
                      <div class="" flex="15">
                        <md-input-container class="md-block">
                          <input tabindex="0" ng-trim="true" ng-model="entity.evidence[0].with.control.value" type="text" class="" placeholder="With"
                            aria-label="With"> </md-input-container>
                      </div>
                      <span flex></span>
                      <md-menu md-position-mode="target-right target">
                        <md-button aria-label="Open Annoton Model Type" class="md-icon-button sae-action-button md-raised" ng-click="$mdMenu.open($event)">
                          <md-icon md-font-icon="fa fa-ellipsis-v"></md-icon>
                        </md-button>
                        <md-menu-content width="3">
                          <h6 class="sae-menu-heading">
                            Evidence</h6>
                          <md-menu-item>
                            <md-button class="" ng-click="appCtrl.openSelectEvidenceDialog($event, entity)">
                              Clone Evidence
                            </md-button>
                          </md-menu-item>
                          <md-menu-item>
                            <md-button class="" ng-click="appCtrl.openAddEvidenceDialog($event, entity)">
                              More Evidence
                            </md-button>
                          </md-menu-item>
                          <md-menu-item>
                            <md-button class="" ng-click="appCtrl.addNDEvidence(entity.evidence[0])">
                              Add ND Reference
                            </md-button>
                          </md-menu-item>
                          <h6 class="sae-menu-heading">
                            Term
                          </h6>
                          <md-menu-item ng-if="entity.treeLevel===0">
                            <md-button class="" ng-click="appCtrl.toggleIsComplement(entity)">
                              NOT Qualifier
                            </md-button>
                          </md-menu-item>
                          <md-menu-item ng-if="entity.treeLevel===0">
                            <md-button class="" ng-click="appCtrl.addRootNode(entity)">
                              Root Term
                            </md-button>
                          </md-menu-item>
                          <md-menu-item ng-if="false">
                            <md-button class="" ng-click="appCtrl.openAnnotonSectionDialog($event, entity, true)">
                              Add CC Component
                            </md-button>
                          </md-menu-item>
                          <md-menu-item>
                            <md-button class="" ng-click="entity.clearValues()">
                              Clear
                            </md-button>
                          </md-menu-item>
                          <h6 class="sae-menu-heading">
                            Search
                          </h6>
                          <md-menu-item ng-if="entity.aspect==='P'">
                            <md-button class="" ng-click="appCtrl.openLinkToExistingDialog($event, entity)">
                              Choose From an Existing Process
                            </md-button>
                          </md-menu-item>
                          <md-menu-item ng-if="entity.aspect">
                            <md-button class="" ng-click="appCtrl.openPopulateDialog($event, entity)">
                              Search Database
                            </md-button>
                          </md-menu-item>
                        </md-menu-content>
                      </md-menu>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END TABLE FORM -->
          <div id="sae-submit-row" layout="row" class="sae-submit-row md-whiteframe-2dp">
            <button ng-if="appCtrl.formGrid.annoton.submitErrors.length > 0" class="btn btn-link" ng-click="appCtrl.dialogService.openAnnotonErrorsDialog($event, appCtrl.formGrid.annoton, appCtrl.formGrid.annoton.submitErrors)">
              Why is the "save" button disabled?
            </button>
            <span flex></span>
            <md-button type="button" ng-disabled="false" ng-click="appCtrl.formGrid.clearForm()" class="md-raised" aria-label="Clear Form">
              Clear
            </md-button>
            <md-button type="button" ng-disabled="!appCtrl.formGrid.annoton.enableSubmit()" ng-click="appCtrl.saveAnnoton()" class="md-primary md-raised"
              aria-label="Save Form">
              Save
            </md-button>
            <md-button ng-if="false" type="button" ng-disabled="!appCtrl.formGrid.annoton.enableSubmit()" ng-click="appCtrl.saveAnnoton(true)"
              class="md-primary md-raised" aria-label="Save Form">
              Save & Start New Model
            </md-button>
          </div>
        </div>
        <br>
        <div layout="row" class="sae-submit-row md-whiteframe-2dp">
          <p> </p>
          <span flex></span>
          <md-button class="md-primary" ng-click="appCtrl.graph.addModel()">
            Start New Model
          </md-button>
        </div>
      </div>
    </div>
    <div ng-if="!appCtrl.graph.loggedIn">
      <div class="alert alert-info">
        Not Logged In
      </div>
    </div>

    <div class="sae-section-header" layout="row" layout-align="start start" flex>
      <div class="sae-section-heading">
        View
      </div>
      <span flex></span>
      <md-menu>
        <md-button aria-label="View Options" class="md-icon-button" ng-click="$mdMenu.open($event)">
          View Mode
          <b class="caret"></b>
        </md-button>
        <md-menu-content width="2">
          <md-menu-item ng-repeat="view in appCtrl.summaryViewMode.options">
            <md-button class="" ng-click="appCtrl.setSummaryView(view)">
              <md-icon md-font-icon="fa fa-trash"></md-icon> {{view.label}}
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
    <div ng-if="appCtrl.summaryViewMode.selected.id === appCtrl.summaryViewMode.options.grid.id" class="sae-summary-grid">
      <div layout="column" layout-align="start stretch">
        <div>
          <h2>
            Molecular Activities in the Model
          </h2>
        </div>
        <div ng-if="appCtrl.summaryData.annotons.length===0">
          <div class="alert alert-info">
            No Annoton Models
          </div>
        </div>
        <div class="sae-container sae-summary" layout="row" layout-align="start" layout-wrap>
          <div ng-repeat="summaryRow in appCtrl.summaryData.annotons" class="sae-card-widget p-10" flex="33">
            <div class="sae-card md-whiteframe-2dp" ng-class="{ 'sae-success': summaryRow.annoton.parser.clean,
          'sae-error': !summaryRow.annoton.parser.clean }" layout-fill>
              <div class="sae-card-header" layout="row" layout-align="start start" flex>
                <div class="sae-term sae-term-mf">
                  <span class="sae-fa-stack fa-stack fa-lg">
                    <i class="sae-fa-lg icon-go-logo fa-stack-2x"></i>
                    <i ng-if="summaryRow.annoton.annotonType===appCtrl.saeConstants.annotonType.options.simple.name" class="sae-fa-sm fa fa-cube fa-stack-1x"></i>
                    <i ng-if="summaryRow.annoton.annotonType===appCtrl.saeConstants.annotonType.options.complex.name" class="sae-fa-sm fa fa-cubes fa-stack-1x"></i>
                  </span>
                </div>
                <div class="sae-card-heading" flex>
                  <div class="sae-heading-title sae-ellipsis">
                    {{summaryRow.mf}}
                  </div>
                  <div class="sae-heading-subtitle sae-ellipsis">
                    <span class="sae-predicate">enabled by: </span>
                    <strong> {{summaryRow.gp}}</strong>
                  </div>
                </div>
              </div>
              <div class="sae-card-body">
                <div class="sae-card-row" layout="row">
                  <div class="sae-term sae-term-cc">
                    <span class="sae-fa-stack fa-stack fa-lg">
                      <i class="sae-fa-lg icon-go-logo fa-stack-2x"></i>
                      <i class="sae-fa-sm fa fa-map-marker fa-stack-1x"></i>
                    </span>
                  </div>
                  <div class="sae-term-description" flex>
                    <span class="sae-predicate">occurs in</span>
                    <div class="sae-ellipsis">
                      {{summaryRow.cc?summaryRow.cc: 'no data'}}
                    </div>
                  </div>
                </div>
                <div class="sae-card-row" layout="row">
                  <div class="sae-term sae-term-bp">
                    <span class="sae-fa-stack fa-stack fa-lg">
                      <i class="sae-fa-lg icon-go-logo fa-stack-2x"></i>
                      <i class="sae-fa-sm fa fa-object-group fa-stack-1x"></i>
                    </span>
                  </div>
                  <div class="sae-term-description" flex>
                    <span class="sae-predicate">part of</span>
                    <div class="sae-ellipsis">
                      {{summaryRow.bp?summaryRow.bp: 'no data'}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="sae-card-footer" layout="row" layout-align="start center" flex ng-class="{ 'sae-success': summaryRow.annoton.parser.clean,
        'sae-error': !summaryRow.annoton.parser.clean }">
                <md-button ng-if="!summaryRow.annoton.parser.clean" class="" ng-click="appCtrl.dialogService.openAnnotonErrorsDialog($event, summaryRow.annoton, summaryRow.annoton.parser.errors)">
                  <span class="text-danger">
                    {{summaryRow.annoton.parser.errors.length}} error(s)
                  </span>
                </md-button>
                <span flex></span>
                <md-button ng-if="true" class="ae-action-button" ng-click="appCtrl.dialogService.openViewSummaryDialog($event, summaryRow)">
                  View
                </md-button>
                <md-menu md-position-mode="target-right target">
                  <md-button aria-label="More Otions" class="md-icon-button sae-action-button" ng-click="$mdMenu.open($event)">
                    <md-icon md-font-icon="fa fa-ellipsis-v"></md-icon>
                  </md-button>
                  <md-menu-content width="2">
                    <md-menu-item>
                      <md-button class="" ng-click="appCtrl.formGrid.cloneForm(summaryRow.annoton)">
                        <md-icon md-font-icon="fa fa-clone"></md-icon> Clone
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button class="" ng-click="appCtrl.graph.deleteAnnoton(summaryRow.annoton, $event)">
                        <md-icon md-font-icon="fa fa-trash"></md-icon> Delete
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h2>
          CC Only Annotations
        </h2>
      </div>
      <div ng-if="appCtrl.summaryData.ccComponents.length===0">
        <div class="alert alert-info">
          No CC Only Annotations found
        </div>
      </div>
      <div class="sae-container sae-summary" layout="row" layout-align="start" layout-wrap>
        <div ng-repeat="summaryRow in appCtrl.summaryData.ccComponents" ng-if="summaryRow.annoton.ccOnlyVerified" class="sae-card-widget p-10"
          flex="33">
          <div class="sae-card-1 md-whiteframe-2dp" ng-class="{ 'sae-success': summaryRow.annoton.parser.clean,
          'sae-error': !summaryRow.annoton.parser.clean }" layout-fill>
            <div class="sae-card-header" layout="row" layout-align="start start" flex>
              <div class="sae-term sae-term-cc">
                <span class="sae-fa-stack fa-stack fa-lg">
                  <i class="sae-fa-lg icon-go-logo fa-stack-2x"></i>
                  <i ng-if="summaryRow.annoton.annotonType===appCtrl.saeConstants.annotonType.options.simple.name" class="sae-fa-sm fa fa-cube fa-stack-1x"></i>
                  <i ng-if="summaryRow.annoton.annotonType===appCtrl.saeConstants.annotonType.options.complex.name" class="sae-fa-sm fa fa-cubes fa-stack-1x"></i>
                </span>
              </div>
              <div class="sae-card-heading" flex>
                <div class="sae-heading-title sae-ellipsis">
                  <strong>{{summaryRow.gp}}</strong>
                </div>
              </div>
            </div>
            <div class="sae-card-body">
              <div class="sae-card-row" layout="row">
                <div class="sae-term sae-term-bp">
                  <span class="sae-fa-stack fa-stack fa-lg">
                    <i class="sae-fa-lg icon-go-logo fa-stack-2x"></i>
                    <i class="sae-fa-sm fa fa-object-group fa-stack-1x"></i>
                  </span>
                </div>
                <div class="sae-term-description" flex>
                  <span class="sae-predicate">part of</span>
                  <div class="sae-ellipsis">
                    {{summaryRow.cc?summaryRow.cc: 'no data'}}
                  </div>
                </div>
              </div>
            </div>
            <div class="sae-card-footer" layout="row" layout-align="start center" flex ng-class="{ 'sae-success': summaryRow.annoton.parser.clean,
        'sae-error': !summaryRow.annoton.parser.clean }">
              <md-button ng-if="!summaryRow.annoton.parser.clean" class="" ng-click="appCtrl.dialogService.openAnnotonErrorsDialog($event, summaryRow.annoton, summaryRow.annoton.parser.errors)">
                <span class="text-danger">
                  {{summaryRow.annoton.parser.errors.length}} error(s)
                </span>
              </md-button>
              <span flex></span>
              <md-button ng-if="true" class="ae-action-button" ng-click="appCtrl.dialogService.openViewSummaryDialog($event, summaryRow)">
                View
              </md-button>
              <md-menu md-position-mode="target-right target">
                <md-button aria-label="More Otions" class="md-icon-button sae-action-button" ng-click="$mdMenu.open($event)">
                  <md-icon md-font-icon="fa fa-ellipsis-v"></md-icon>
                </md-button>
                <md-menu-content width="2">
                  <md-menu-item>
                    <md-button class="" ng-click="appCtrl.graph.deleteAnnoton(summaryRow.annoton)">
                      <md-icon md-font-icon="fa fa-trash"></md-icon> Delete
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="sae-molecular-activities" ng-if="appCtrl.summaryViewMode.selected.id === appCtrl.summaryViewMode.options.table.id"
      class="sae-summary-table">
      <h2>
        Annotations in the Model
      </h2>
      <br>
      <div ui-grid="appCtrl.summaryGrid.gridOptions" ui-grid-resize-columns ui-grid-auto-resize ui-grid-pinning ui-grid-move-columns
        class="grid">
      </div>
    </div>
  </div>
  <joyride></joyride>
  <script type="text/ng-template" id="customTemplate.html">
    <a>
      <span style="display:inline-block;width:200px;font-size:0.9em;font-style:italic;" ng-bind-html="match.model.id | uibTypeaheadHighlight:query"></span>
      <span ng-bind-html="match.model.label | uibTypeaheadHighlight:query"></span>
    </a>
  </script>
</div>
<!-- <%={{ }}=%> -->