<!-- {{=<% %>=}} -->

<!-- Main "app". -->
<div ng-strict-di ng-app="TVApp" ng-cloak>
  <div ng-controller="AppController as tvc" ng-form="patternForm" class="tv-container">
    <div class="sae-subheader" layout="column" layout-align="center center">
      <div class="sae-container" layout="row">
        <div class="sae-title">
          {{tvc.graph.title[0].value()}} ({{tvc.graph.model_id}})
        </div>
        <span flex></span>
        <md-button ng-click="tvc.formGrid.initalizeFormData()">
          .
        </md-button>
      </div>
    </div>
    <div class="sae-body" layout="column" layout-align="start center">
      <div class="sae-annoton-form sae-container" layout="column" layout-align="start stretch">
        <div class="sae-gp sae-form-section md-whiteframe-2dp" layout="column" layout-align="start stretch" flex>
          <div class="sae-section-header" layout="row" layout-align="start start" flex>
            <div class="sae-section-heading">
              Gene Product
            </div>
            <span flex></span>
            <md-menu md-position-mode="target-right target">
              <md-button aria-label="Open Annoton Type" class="sae-action-button" ng-click="$mdMenu.open($event)">
                {{tvc.formGrid.annoton.annotonType}}
                <b class="caret"></b>
              </md-button>
              <md-menu-content width="3">
                <md-menu-item ng-repeat="annotonType in tvc.saeConstants.annotonType.options">
                  <md-button ng-click="tvc.formGrid.setAnnotonType(tvc.formGrid.annoton, annotonType)">
                    {{annotonType.label}}
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
          <div ng-if="tvc.formGrid.annoton.annotonType === tvc.saeConstants.annotonType.options.simple.name" class="sae-section-body ph-15"
            layout="column" layout-align="start stretch">
            <div class="typeaheadcontainer" layout="row">
              <div style="position:absolute;z-index:100;margin-left:4px;" ng-show="loadingItemsGP">
                <i class="fa fa-spinner fa-spin fa-fw"></i>
              </div>
              <md-input-container class="md-block" flex>
                <input aria-describedby="igGP" type="text" ng-model="tvc.formGrid.geneProduct.term.control.value" ng-trim="false" placeholder="Gene Product"
                  ng-blur="noResultsGP = false" uib-typeahead="term as term.label for term in tvc.getTerm(tvc.formGrid.geneProduct.term)"
                  typeahead-append-to-body="true" xtypeahead-focus-on-select="true" xtypeahead-select-on-blur="false" typeahead-loading="loadingItemsGP"
                  typeahead-no-results="noResultsGP" typeahead-template-url="customTemplate.html" typeahead-editable="true"
                  typeahead-min-length=0 xtypeahead-is-open="isOpen" typeahead-is-open="'true'" typeahead-on-select="tvc.termSelected('GP', $item, $model, $label, $event)"
                  class="typeaheadcontrol form-contro" ng-class="isOpen ? 'typeahead-is-open' : 'typeahead-is-closed'">
              </md-input-container>
              <div class="no-results" ng-show="tvc.editingModel.GP.length > 2 && noResultsGP">
                No Results Found
              </div>
            </div>
          </div>
          <div ng-if="tvc.formGrid.annoton.annotonType === tvc.saeConstants.annotonType.options.complex.name" class="sae-section-body ph-15 "
            layout="column" layout-align="start stretch">
            <md-chips ng-if="false" ng-model="tvc.formGrid.annoton.complexAnnotonData.geneProducts" md-autocomplete-snap md-require-match=true>
              <md-autocomplete md-selected-item="tvc.selectedItem" md-search-text="tvc.formGrid.annoton.complexAnnotonData.gpTemplateNode.term.control.value"
                md-items="item in tvc.getTerm(tvc.formGrid.annoton.complexAnnotonData.gpTemplateNode.term)" md-item-text="item.label"
                placeholder="Gene Products">
                <span md-highlight-text="tvc.searchText">{{item.label}} :: {{item.id}}</span>
              </md-autocomplete>
              <md-chip-template>
                <span>
                  <strong>[{{$index}}] {{$chip.id}}</strong>
                  <em>({{$chip.label}})</em>
                </span>
              </md-chip-template>
              <button md-chip-remove class="md-primary">
                <md-icon md-font-icon="fa fa-times"></md-icon>
              </button>
            </md-chips>
            <div class="typeaheadcontainer">
              <div style="position:absolute;z-index:100;margin-left:4px;" ng-show="loadingItemsGP">
                <i class="fa fa-spinner fa-spin fa-fw"></i>
              </div>
              <md-input-container class="md-block">
                <input aria-describedby="igGP" type="text" ng-model="tvc.formGrid.annoton.complexAnnotonData.mcNode.term.control.value" ng-trim="false"
                  placeholder="Macromolecular Complex" ng-blur="noResultsGP = false" uib-typeahead="term as term.label for term in tvc.getTerm(tvc.formGrid.annoton.complexAnnotonData.mcNode.term)"
                  typeahead-append-to-body="true" xtypeahead-focus-on-select="true" xtypeahead-select-on-blur="false" typeahead-loading="loadingItemsGP"
                  typeahead-no-results="noResultsGP" typeahead-template-url="customTemplate.html" typeahead-editable="true"
                  typeahead-min-length=0 xtypeahead-is-open="isOpen" typeahead-is-open="'true'" typeahead-on-select="tvc.termSelected('GP', $item, $model, $label, $event)"
                  class="typeaheadcontrol" ng-class="isOpen ? 'typeahead-is-open' : 'typeahead-is-closed'">
              </md-input-container>
              <div class="no-results" ng-show="tvc.editingModel.GP.length > 2 && noResultsGP">
                No Results Found
              </div>
            </div>
            <div ng-repeat="entity in macro.nodes" class="ph-15 sae-annoton-group-row" layout="row">
              <div class="typeaheadcontainer" flex="40">
                <div style="position:absolute;z-index:100;margin-left:4px;" ng-show="loadingItems[entity.term]">
                  <i class="fa fa-spinner fa-spin fa-fw"></i>
                </div>
                <md-input-container class="md-block">
                  <input aria-label="term" type="INPUT_TYPE" ng-model="entity.term.control.value" tabindex="0" ng-trim="false" ng-blur="noResults[entity.term] = false"
                    uib-typeahead="term as term.label for term in tvc.getTerm(entity.term)" typeahead-append-to-body="true"
                    xtypeahead-focus-on-select="true" xtypeahead-select-on-blur="false" typeahead-loading="loadingItems[term]"
                    typeahead-no-results="noResults[term]" typeahead-template-url="customTemplate.html" typeahead-editable="true"
                    typeahead-min-length=0 xtypeahead-is-open="isOpen" typeahead-is-open="'true'" typeahead-on-select="tvc.termSelected(term, $item, $model, $label, $event)"
                    class="typeaheadcontrol" placeholder="{{entity.label}}" ng-class="isOpen ? 'typeahead-is-open' : 'typeahead-is-closed'">
                </md-input-container>
                <div class="no-results" ng-show="tvc.editingModel[term].length > 2 && noResults[term]">
                  No Results Found
                </div>
              </div>
              <div class="typeaheadcontainer" flex="30">
                <div style="position:absolute;z-index:100;margin-left:4px;" ng-show="loadingItems[entity.term + 'e']">
                  <i class="fa fa-spinner fa-spin fa-fw"></i>
                </div>
                <md-input-container class="md-block">
                  <input aria-label="evidence" type="text" ng-model="entity.evidence.control.value" ng-trim="false" tabindex="0" ng-blur="noResults[entity.term + 'e'] = false"
                    uib-typeahead="term as term.label for term in tvc.getTerm(entity.evidence)" typeahead-append-to-body="true"
                    xtypeahead-focus-on-select="true" xtypeahead-select-on-blur="false" typeahead-loading="loadingItems[term + 'e']"
                    typeahead-no-results="noResults[term + 'e']" typeahead-template-url="customTemplate.html" typeahead-editable="true"
                    typeahead-min-length=0 xtypeahead-is-open="isOpen" typeahead-is-open="'true'" typeahead-on-select="tvc.termSelected(term + 'e', $item, $model, $label, $event)"
                    class="typeaheadcontrol" placeholder="Evidence" ng-class="isOpen ? 'typeahead-is-open' : 'typeahead-is-closed'">
                </md-input-container>
                <div class="no-results" ng-show="tvc.editingModel[term + 'e'].length > 2 && noResults[term + 'e']">
                  No Results Found
                </div>
              </div>
              <div class="" flex="15">
                <md-input-container class="md-block">
                  <input ng-pattern="/^.+:.+$/" tabindex="0" ng-disabled="!entity.evidence.control.value" ng-model="entity.reference.control.value"
                    type="text" class="" placeholder="Reference" aria-label="reference">
                </md-input-container>
              </div>
              <div class="">
                <md-input-container class="md-block">
                  <input ng-pattern="/^.+:.+$/" tabindex="0" ng-disabled="!entity.evidence.control.value" ng-model="row.entity.with.control.value"
                    type="text" class="" placeholder="With" aria-label="With"> </md-input-container>
              </div>
              <span flex></span>
              <md-menu md-position-mode="target-right target">
                <md-button aria-label="Open Annoton Model Type" class="md-icon-button sae-action-button md-raised" ng-click="$mdMenu.open($event)">
                  <md-icon md-font-icon="fa fa-ellipsis-v"></md-icon>
                </md-button>
                <md-menu-content width="3">
                  <md-menu-item>
                    <md-button class="" ng-click="entity.clearValues()">
                      CLEAR NODE
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </div>

            <md-button>
              Add Gene
            </md-button>
          </div>
        </div>
        <!-- TABLE FORM  -->
        <div class="sae-table-form sae-form-section" layout="column" layout-align="start stretch">
          <div class="sae-section-header" layout="row" layout-align="start start" flex>
            <div class="sae-section-heading">
              Function Description
            </div>
            <span flex></span>
            <md-menu md-position-mode="target-right target">
              <md-button aria-label="Open Annoton Model Type" class="sae-action-button" ng-click="$mdMenu.open($event)">
                {{tvc.formGrid.annoton.annotonModelType}}
                <b class="caret"></b>
              </md-button>
              <md-menu-content width="3">
                <md-menu-item ng-repeat="annotonModelType in tvc.saeConstants.annotonModelType.options">
                  <md-button ng-click="tvc.formGrid.setAnnotonModelType(tvc.formGrid.annoton, annotonModelType)">
                    {{annotonModelType.label}}
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
          <div ng-if="tvc.formGrid.annoton.annotonModelType === tvc.saeConstants.annotonModelType.options.annoton.name" class="sae-section-body"
            layout="column" layout-align="start stretch">
            <div ng-repeat="nodeGroup in tvc.formGrid.annotonPresentation.functionDescription" class="sae-term-group md-whiteframe-1dp"
              layout="column">
              <div class="sae-group-heading pv-25 ph-15">
                {{nodeGroup.label}}
              </div>
              <div ng-repeat="entity in nodeGroup.nodes" class="ph-15 sae-annoton-group-row" layout="row">
                <div class="typeaheadcontainer" flex="40">
                  <div style="position:absolute;z-index:100;margin-left:4px;" ng-show="loadingItems[entity.term]">
                    <i class="fa fa-spinner fa-spin fa-fw"></i>
                  </div>
                  <md-input-container class="md-block">
                    <input aria-label="term" type="INPUT_TYPE" ng-model="entity.term.control.value" tabindex="0" ng-trim="false" ng-blur="noResults[entity.term] = false"
                      uib-typeahead="term as term.label for term in tvc.getTerm(entity.term)" typeahead-append-to-body="true"
                      xtypeahead-focus-on-select="true" xtypeahead-select-on-blur="false" typeahead-loading="loadingItems[term]"
                      typeahead-no-results="noResults[term]" typeahead-template-url="customTemplate.html" typeahead-editable="true"
                      typeahead-min-length=0 xtypeahead-is-open="isOpen" typeahead-is-open="'true'" typeahead-on-select="tvc.termSelected(term, $item, $model, $label, $event)"
                      class="typeaheadcontrol" placeholder="{{entity.label}}" ng-class="isOpen ? 'typeahead-is-open' : 'typeahead-is-closed'">
                  </md-input-container>
                  <div class="no-results" ng-show="tvc.editingModel[term].length > 2 && noResults[term]">
                    No Results Found
                  </div>
                </div>
                <div class="typeaheadcontainer" flex="30">
                  <div style="position:absolute;z-index:100;margin-left:4px;" ng-show="loadingItems[entity.term + 'e']">
                    <i class="fa fa-spinner fa-spin fa-fw"></i>
                  </div>
                  <md-input-container class="md-block">
                    <input aria-label="evidence" type="text" ng-model="entity.evidence.control.value" ng-trim="false" tabindex="0" ng-blur="noResults[entity.term + 'e'] = false"
                      uib-typeahead="term as term.label for term in tvc.getTerm(entity.evidence)" typeahead-append-to-body="true"
                      xtypeahead-focus-on-select="true" xtypeahead-select-on-blur="false" typeahead-loading="loadingItems[term + 'e']"
                      typeahead-no-results="noResults[term + 'e']" typeahead-template-url="customTemplate.html" typeahead-editable="true"
                      typeahead-min-length=0 xtypeahead-is-open="isOpen" typeahead-is-open="'true'" typeahead-on-select="tvc.termSelected(term + 'e', $item, $model, $label, $event)"
                      class="typeaheadcontrol" placeholder="Evidence" ng-class="isOpen ? 'typeahead-is-open' : 'typeahead-is-closed'">
                  </md-input-container>
                  <div class="no-results" ng-show="tvc.editingModel[term + 'e'].length > 2 && noResults[term + 'e']">
                    No Results Found
                  </div>
                </div>
                <div class="" flex="15">
                  <md-input-container class="md-block">
                    <input ng-pattern="/^.+:.+$/" tabindex="0" ng-disabled="!entity.evidence.control.value" ng-model="entity.reference.control.value"
                      type="text" class="" placeholder="Reference" aria-label="reference">
                  </md-input-container>
                </div>
                <div class="">
                  <md-input-container class="md-block">
                    <input ng-pattern="/^.+:.+$/" tabindex="0" ng-disabled="!entity.evidence.control.value" ng-model="row.entity.with.control.value"
                      type="text" class="" placeholder="With" aria-label="With"> </md-input-container>
                </div>
                <span flex></span>
                <md-menu md-position-mode="target-right target">
                  <md-button aria-label="Open Annoton Model Type" class="md-icon-button sae-action-button md-raised" ng-click="$mdMenu.open($event)">
                    <md-icon md-font-icon="fa fa-ellipsis-v"></md-icon>
                  </md-button>
                  <md-menu-content width="3">
                    <md-menu-item>
                      <md-button class="" ng-click="entity.clearValues()">
                        CLEAR NODE
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </div>
            </div>
          </div>
          <div ng-if="tvc.formGrid.annoton.annotonModelType === tvc.saeConstants.annotonModelType.options.candidate.name" class="sae-section-body"
            layout="column" layout-align="start stretch">
          </div>
        </div>
        <!-- END TABLE FORM -->
        <div layout="row" class="sae-submit-row md-whiteframe-2dp">
          <div hide class="col-xs-8">
            <div ng-if="tvc.saveRowEnabled(patternForm).length > 0" class="well well-sm" style="margin:0;padding:3px;">
              <ul>
                <li ng-repeat="reason in tvc.saveRowEnabled(patternForm)" class="error-reason">
                  {{reason}}
                </li>
              </ul>
            </div>
          </div>
          <span flex></span>
          <md-button type="button" ng-disabled="false" ng-click="tvc.formGrid.clearForm()" class="md-raised" aria-label="Clear Form">
            Clear
          </md-button>
          <md-button type="button" ng-disabled="false" ng-click="tvc.saveAnnoton()" class="md-primary md-raised" aria-label="Save Form">
            Create
          </md-button>
        </div>
      </div>

      <div class="sae-container sae-summary" layout="column" layout-align="start stretch">
        <div>
          <h2>
            Annoton Models
          </h2>
        </div>
        <div ng-if="tvc.summaryGrid.summaryData.length===0">
          <div class="alert alert-info">
            No Annoton Models
          </div>
        </div>
        <div ng-repeat="summaryRow in tvc.summaryGrid.summaryData" class="sae-panel md-whiteframe-2dp mb-10">
          <div class="sae-panel-header" layout="row" layout-align="start start" flex ng-class="{ 'sae-success': summaryRow.annoton.parser.clean,
          'sae-error': !summaryRow.annoton.parser.clean }">
            <md-button class="md-icon-button sae-action-button" ng-click="summaryRow.expanded = !summaryRow.expanded" aria-label="Expand">
              <md-icon ng-if="summaryRow.expanded" md-font-icon="fa fa-chevron-down"></md-icon>
              <md-icon ng-if="!summaryRow.expanded" md-font-icon="fa fa-chevron-right"></md-icon>
            </md-button>
            <div class="sae-panel-heading" flex>
              <div class="sae-heading-title sae-ellipsis">
                <strong>{{summaryRow.gp}}</strong> - {{summaryRow.mf}}
              </div>
              <div class="sae-heading-subtitle sae-ellipsis">
                <span ng-if="summaryRow.evidence.label">{{summaryRow.evidence.label}}</span>
                <span class="text-danger" ng-if="!summaryRow.evidence.label">no evidence</span>
              </div>
            </div>
            <span flex></span>
            <md-button ng-if="!summaryRow.annoton.parser.clean" class="sae-error-button" ng-click="tvc.openAnnotonErrorsDialogDialog($event, summaryRow.annoton, summaryRow.annoton.parser.errors)">
              {{summaryRow.annoton.parser.errors.length}} error(s)
            </md-button>
            <md-button class="md-icon-button sae-action-button" ng-click="tvc.graph.deleteAnnoton(summaryRow.annoton)">
              <md-icon md-font-icon="fa text-danger fa-trash"></md-icon>
            </md-button>
            <md-button class="md-icon-button sae-action-button" ng-click="tvc.openEditAnnotonDialogDialog($event, summaryRow)">
              <md-icon md-font-icon="fa fa-pencil"></md-icon>
            </md-button>
          </div>
          <div ng-if="summaryRow.expanded" class="sae-panel-body animate-slide-down animate-slide-up">
            <div ng-if="false" class="sae-summary-group" layout="row">
              <div class="sae-summary-group-heading" layout="column" layout-align="center center">
                <div>GP</div>
              </div>
              <div class="sae-summary-group-body" layout="column" flex>
                <div class="sae-annoton-node ph-15" layout="row">
                  <div class="sae-annoton-node-heading" flex>
                    <div class="sae-heading-title sae-ellipsis">
                      <strong>{{summaryRow.annotonPresentation.geneProduct.label}}</strong> - {{summaryRow.annotonPresentation.geneProduct.term.control.value.label}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div ng-repeat="nodeGroup in summaryRow.annotonPresentation.functionDescription" class="sae-summary-group" layout="row">
              <div class="sae-summary-group-heading" layout="column" layout-align="center center">
                <div>{{nodeGroup.shorthand}}</div>
              </div>
              <div class="sae-summary-group-body" layout="column" flex>
                {{summaryRow.annoton.status}}
                <div ng-repeat="entity in nodeGroup.nodes" class="sae-annoton-node ph-15" layout="row" ng-class="{ 'sae-error': entity.errors.length>0,
                'sae-error-sm': entity.status===2 }">
                  <div class="sae-annoton-node-heading" flex>
                    <div class="sae-heading-title sae-ellipsis">
                      <strong>{{entity.label}}</strong> - {{entity.term.control.value.label}} - {{entity.evidence.control.value.label}}
                    </div>
                    <div class="sae-heading-subtitle sae-ellipsis">
                      <span ng-if="entity.evidence.control.value.label">{{entity.evidence.control.value.label}}</span>
                      <span class="text-danger" ng-if="!entity.evidence.control.value.label">no evidence</span>
                    </div>
                  </div>
                  <md-button ng-if="entity.errors.length>0" class="sae-error-button" ng-click="tvc.openAnnotonErrorsDialogDialog($event, summaryRow.annoton, entity.errors)">
                    {{entity.errors.length}} error(s)
                  </md-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/ng-template" id="customTemplate.html">
    <a>
      <span style="display:inline-block;width:200px;font-size:0.9em;font-style:italic;" ng-bind-html="match.model.id | uibTypeaheadHighlight:query"></span>
      <span ng-bind-html="match.model.label | uibTypeaheadHighlight:query"></span>
    </a>
  </script>
  <script type="text/ng-template" id="rowTemplate.html">
    <div ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.uid" ui-grid-one-bind-id-grid="rowRenderIndex + '-' + col.uid + '-cell'"
      class="ui-grid-cell" ng-class="{'ui-grid-row-header-cell': col.isRowHeader, 'ui-grid-row-summary': row.treeLevel === 0 }"
      role="{{col.isRowHeader ? 'rowheader' : 'gridcell'}}" ui-grid-cell>
    </div>
  </script>

  <script type="text/ng-template" id="cellTemplate.html">
    <div style="white-space:pre-line !important;" class="ui-grid-cell-contents" title="TOOLTIP">{{COL_FIELD CUSTOM_FILTERS}}</div>
  </script>
</div>
<!-- <%={{ }}=%> -->