<div class="ui-grid-cell-contents" title="TOOLTIP" layout="row">
    <md-button ng-if="row.entity.node.errors.length>0" class="sae-action-button" ng-click="grid.appScope.dialogService.openAnnotonErrorsDialog($event, row.entity.annoton, row.entity.node.errors)">
        <md-icon md-font-icon="fa fa-exclamation-triangle" class="text-danger"></md-icon>
    </md-button>
    <span flex></span>
    <md-menu md-position-mode="target-right target">
        <md-button aria-label="Open Annoton Model Type" class="sae-action-button" ng-click="$mdMenu.open($event)">
            <md-icon md-font-icon="fa fa-ellipsis-v"></md-icon>
        </md-button>
        <md-menu-content width="3">
            <md-menu-item ng-if="row.entity.node.aspect === 'F'">
                <md-button class="" ng-click="grid.appScope.openConnectActivityDialog($event, row.entity.annoton, row.entity.node)">
                    Connect Activity
                </md-button>
            </md-menu-item>
            <md-menu-item ng-if="row.entity.node.aspect">
                <md-button class="" ng-click="grid.appScope.openPopulateReadonlyDialog($event, row.entity.annoton, row.entity.node)">
                    Search Database
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button class="" ng-click="grid.appScope.openLinkToExistingDialog($event, row.entity.node)">
                    Copy to Form
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>