<div class="ui-grid-cell-contents" title="TOOLTIP">
    <div ng-if="grid.appScope.tvc.graph.loggedIn" class="text-center action-row">
        <md-button hide class="md-icon-button" ng-click="grid.api.expandable.toggleRowExpansion(row.entity)" aria-label="Togle Expamd">
            <i class="fa fa-pencil fa-plus"></i>
        </md-button>
        <md-button class="md-icon-button" aria-label="Edit Annoton" ng-click="grid.appScope.tvc.editRow(row.entity)">
            <i class="fa fa-pencil fa-fw"></i>
        </md-button>
        <md-button class="md-icon-button" aria-label="Delete Annoton" ng-click="grid.appScope.tvc.deleteRow(row.entity)">
            <i class="fa fa-trash-o fa-fw"></i>
        </md-button>
    </div>
</div>