<md-dialog class="sae-companion-dialog" aria-label="Companion Dialog" ng-cloak>
    <md-toolbar class="gb-heading" layout="column" layout-align="start center" flex>
        <div class="md-toolbar-tools sae-container">
            <div class="sae-heading-title">
                <span class="ellipsis">
                    Select Evidence
                </span>
            </div>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="annotonCtrl.closeDialog()" aria-label="Close Dialog" translate translate-attr-aria-label="SB.CLOSE_DIALOG">
                <md-icon md-font-icon="icon-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="" layout="column" layout-align="start stretch">
            <div>
                <strong>Evidence For </strong> {{annotonCtrl.data.node.term.control.value.label}}
            </div>
            <br>
            <div class="sae-populate-group md-whiteframe-1dp" layout="column">
                <div class="sae-populate-group-header" layout="column" flex>
                    <md-checkbox class="sae-primary m-0" ng-checked="annotonCtrl.isNodeChecked()" md-indeterminate="annotonCtrl.isNodeIndeterminate()"
                        ng-click="annotonCtrl.toggleNode()" aria-label="Term Checkbox">
                        (Un)Select All
                    </md-checkbox>
                </div>
                <div class="sae-populate-group-body" layout="column" flex>
                    <div class="sae-populate-row-header" layout="row">
                        <div class="sae-checkbox-container">
                        </div>
                        <div flex="50">
                            Evidence
                        </div>
                        <div flex="30">
                            Reference
                        </div>
                        <div flex="20">
                            With
                        </div>
                    </div>
                    <div ng-repeat="evidence in annotonCtrl.data.evidences" class="sae-populate-row" layout="row">
                        <div class="sae-checkbox-container">
                            <md-checkbox class="sae-primary m-0" ng-checked="annotonCtrl.exists(evidence)" ng-click="annotonCtrl.toggleEvidence(evidence)"
                                aria-label="Term Label">
                            </md-checkbox>
                        </div>
                        <div flex="50">
                            <div class="sae-ellipsis">
                                {{evidence.evidence.control.value.label}}
                            </div>
                        </div>
                        <div flex="30">
                            <div class="sae-ellipsis">
                                <a ng-if="evidence.reference.control.link.url" ng-href="{{evidence.reference.control.link.url}}" target="_blank">
                                    {{evidence.reference.control.link.label}}
                                </a>
                                <span ng-if="!evidence.reference.control.link.url">
                                    {{evidence.reference.control.value}}
                                </span>
                            </div>
                        </div>
                        <div flex="20">
                            <div class="sae-ellipsis">
                                <a ng-if="evidence.with.control.link.url" ng-href="{{evidence.with.control.link.url}}" target="_blank">
                                    {{evidence.with.control.link.label}}
                                </a>
                                <span ng-if="!evidence.with.control.link.url">
                                    {{evidence.with.control.value}}
                                </span>
                            </div>
                        </div>
                        <div ng-if="false" flex>
                            <div class="sae-ellipsis">
                                {{evidence.assignedBy.control.value}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <md-button class="" ng-click="annotonCtrl.includeExternalNodes()">
                Add From External
            </md-button>

            <div ng-if="annotonCtrl.externalNodesIncluded" class="sae-populate-group md-whiteframe-1dp p-15" layout="column">
                <h3>
                    Filter Summary
                </h3>
                <div>
                    <strong>Gene Product </strong> {{annotonCtrl.data.gpNode.term.control.value.label}}
                </div>
                <div ng-if="annotonCtrl.data.params.term">
                    <strong>Term </strong> {{annotonCtrl.data.node.term.control.value.label}}
                </div>
                <br>
                <h3>
                    Results
                </h3>
                <div class="sae-populate-group-body" layout="column" flex>
                    <div class="sae-populate-row-header" layout="row">
                        <div class="sae-checkbox-container">
                        </div>
                        <div flex="50">
                            Evidence
                        </div>
                        <div flex="20">
                            Reference
                        </div>
                        <div>
                            With
                        </div>
                    </div>
                    <div ng-repeat="evidence in annotonCtrl.data.externalEvidences" class="sae-populate-row" layout="row">
                        <div class="sae-checkbox-container">
                            <md-checkbox class="sae-primary m-0" ng-checked="annotonCtrl.exists(evidence)" ng-click="annotonCtrl.toggleEvidence(evidence)"
                                aria-label="Term Label">
                            </md-checkbox>
                        </div>
                        <div flex="50">
                            <div class="sae-ellipsis">
                                {{evidence.evidence.control.value.label}}
                            </div>
                        </div>
                        <div flex="20">
                            <div class="sae-ellipsis">
                                <a ng-href="{{evidence.reference.control.link.url}}" target="_blank">
                                    {{evidence.reference.control.link.label}}
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="sae-ellipsis">
                                <a ng-href="{{evidence.with.control.link.url}}" target="_blank">
                                    {{evidence.with.control.link.label}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="annotonCtrl.closeDialog()" aria-label="Cancel">
            Cancel
        </md-button>
        <md-button class="md-primary md-raised" ng-click="annotonCtrl.save()" aria-label="Save">
            Save
        </md-button>
    </md-dialog-actions>
</md-dialog>