<!-- NOTE DIALOG -->
<md-dialog class="sae-companion-dialog" aria-label="Companion Dialog" ng-cloak>
    <md-toolbar class="gb-heading" layout="column" layout-align="start center" flex>
        <div class="md-toolbar-tools sae-container">
            <div class="sae-heading-title">
                <span class="ellipsis">
                    Populate
                </span>
            </div>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="annotonCtrl.closeDialog()" aria-label="Close Dialog" translate translate-attr-aria-label="SB.CLOSE_DIALOG">
                <md-icon md-font-icon="icon-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="" layout="column" layout-align="start stretch">
            <div ng-repeat="row in annotonCtrl.data" class="sae-error-row" layout="row">
                <div>
                    {{row.term.control.value.label}}
                </div>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="annotonCtrl.closeDialog()" aria-label="Cancel">
            Close
        </md-button>
    </md-dialog-actions>
</md-dialog>