<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Populate</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>Select</h2>

                <div class="row">
                    <div class="sae-form-grid col-xs-12">
                        <div ui-grid="populateCtrl.formGrid.gridOptions" ui-grid-edit ui-grid-cellNav ui-grid-resize-columns ui-grid-auto-resize
                            ui-grid-tree-view class="grid">
                        </div>
                    </div>
                </div>


            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="answer('not useful')">
                Ok
            </md-button>
            <md-button ng-click="answer('useful')">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>